@using Microsoft.AspNet.Identity
@{
    if (Request.IsAuthenticated)
    {
        if (User.Identity.Name == "Admin")
        {
            //using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-left">
                    <li>
                        @Html.ActionLink("Register new User", "Register", "Account", routeValues: null, htmlAttributes: new { title = "Register" })
                    </li>
                    <li>
                        @Html.ActionLink("Map Subjects", "Index", "MappingClasses", routeValues: null, htmlAttributes: new { title = "Course" })
                    </li>
                    <li>
                        @Html.ActionLink("Subject", "Index", "Subjects", routeValues: null, htmlAttributes: new { title = "Course" })
                    </li>
                    <li>
                        @Html.ActionLink("Course", "Index", "Courses")
                    </li>

                </ul>
                
                    }
                    /* <body>
                        <div>
                            <h1>@Html.ActionLink("Subject", "Index", "Subjects")</h1>
                        </div>
                        <div>
                            <h1>  @Html.ActionLink("Course", "Index", "Courses")</h1>
                        </div>
                    </body>*/


                    }

                    }
                    }

